<h3 align="center">Fill this form for your identification</h3>

<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Business Owner</label>
    <input type="text" class="form-control" id="validationCustom01" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Business Name</label>
    <input type="text" class="form-control" id="validationCustom01" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Location</label>
    <input type="text" class="form-control" id="validationCustom02" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Shehia</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        <!-- Please choose a username. -->
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Zanzibar ID</label>
    <input type="tel" class="form-control" placeholder="1999474627" id="validationCustom02" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Tanzania Id if you have</label>
    <input type="tel" class="form-control" placeholder="1997-11-23-2334-0001" id="validationCustom02" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Kind of Business</label>
    <input type="text" class="form-control"  id="validationCustom02" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Owner Phone</label>
    <input type="tel" class="form-control"  id="validationCustom02" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
<!-- our button  -->
<div class="form-button" align="right">

  <button class="btn btn-primary" (click)="sweetAlert()">Save Changes
  </button>


<button class="btn btn-info" style="margin-right: 20px; margin-left:10px">Next Step</button>
</div>



</form>




