<style>
  body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    /* color: #777; */
  }

  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .bgimg-1 {
    background-image: url("../../../assets/images/homeimage1.jpg");
    height: 50%;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption span.border {
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  </style>

  <body>

  <div class="bgimg-1">
    <div class="caption">
      <span>WELCOME TO THE HOME OF CHANGES</span><br>
      <span>BUSINESS LICENNCE OFFICIAL WEBSITE</span>
    </div>
  </div>

  <p style="padding:5px 15px">Jumuiya za kiraia ni taasisi binafsi za hiyari zinazoanzishwa kwa lengo la kuiwezesha jamii kushiriki katika shughuli za maendeleo hasa katika maeneo ambayo hayajafanyiwa kazi.
    Sheria ya Jumuiya No. 6 ya mwaka 1995 ndio inayotumika kuongoza usajili pamoja na kuweka masharti na utaratibu wa usimamizi na uendeshaji wa Jumuiya za hiari.
  umuiya za kiraia zinaweza kuwekwa katika makundi mbalimbali kutokana na muundo wa Jumuiya, maeneo ya kazi, shughuli inazozifanya au eneo (nchi) la awali ilipoundwa. Jumuiya za kiraia zinaweza kuwa:
i. Kamati za maendeleo (Community Based Organization – CBOs) hizi ni Jumiya zinazoanzishwa kwa lengo la kufanya kazi katika eneo maalum (lisilozidi wilaya moja)</p>
<!-- another section -->
<div class="container-fluid padding">
<div class="row text-center padding">
<div class="col-xs-12 col-sm-6 col-md-4">
  <mat-icon style="color: blue;">info</mat-icon>
<h3 style="color: crimson;">Createria to get licence</h3>
<ol>
<li>National Identity or Zanzibar Id</li>
<li>The application should have 18 years and above</li>
<li>Identified business location</li>
<li>Business Must be identified by goverment authorities</li>
<li>Mkataba wa kodi ya pango kama sehumu ya biashara umepanga </li>
</ol>

</div>
<div class="col-xs-12 col-sm-6 col-md-4">
<mat-icon style="color: blue;">store</mat-icon>
<h3 style="color: crimson">TIME TO USE BUSINESS LICENCE</h3>
<p>According to the National protocol the business licence can be used for the most of one year and after that the business owner must be renew and countinue to the business process
</p>


</div>
<div class="col-xs-12 col-sm-6 col-md-4">
  <mat-icon style="color: blue;">account_balance</mat-icon>
<h3 style="color:crimson">ANALYSIS OF BUSINESS LICENNCE COST</h3>
<P>The first step is to apply for become a registed business man to the authorized Organization and after that the manispal guide you on how to apply licess for the fill fill the Creteria and the cost for licess is TZS 100,000 with addition of cleaning fee </P>


</div>

</div>
<hr class="my-4">
</div>

<!-- image with capton mjasiriamali -->
<div class="container-fluid padding">
<div class="row padding">
<div class="col-lg-6">
<h2>President of Zanzibar</h2>
<p>President of Zanzibar Dr Hussen Aly Mwinyi meet with enterprener and emphasized to work hard</p>
<p>for Zanzibar development most of the enterprer fill very happy with this meeting Mwinyi ni mwanachama wa chama cha Mapinduzi (CCM) na alishinda uteuzi wa tiketi ya kugombea urais wa Zanzibar 2020. Baadae alishinda uchaguzi huo dhidi ya mpinzani wa muda mrefu, marehemu Seif Sharif Hamad. Ni mtoto wa rais wa zamani wa Tanzania Ali Hassan Mwinyi.</p>
<p>Jumuiya za kiraia ni taasisi binafsi za hiyari zinazoanzishwa kwa lengo la kuiwezesha jamii kushiriki katika shughuli za maendeleo hasa katika maeneo ambayo hayajafanyiwa kazi. Sheria ya Jumuiya No. 6 ya mwaka 1995 ndio inayotumika kuongoza usajili pamoja na kuweka masharti na utaratibu wa usimamizi na uendeshaji wa Jumuiya za hiari. umuiya za kiraia zinaweza kuwekwa katika makundi mbalimbali kutokana na muundo wa Jumuiya, maeneo ya kazi, s</p>
</div>
<div class="col-lg-6">
<img src="../../../assets/images/mjasiriamali.jpg" class="img-fluid" alt="Zazibar" style="width: 600px;height: 340px;">
</div>
</div>
</div><br><br>

<!-- Team developer -->
<div class="container-fluid padding">
<div class="row welcome text-center">
<div class="col-12">
<h1 class="display-4">Our Team Work for This Task</h1>
</div>
<hr style="color: blue;">

</div>

</div>
<!-- cards with our images -->
<div class="container-fluid padding">
<div class="row padding">
<div class="col-md-3">
<div class="card">
<img class="card-img-top" src="../../../assets/images/developer1.png" alt="">
<div class="card-body">
<h4 class="card-title">Ibrahim Juma Nassor</h4>
<p class="card-text">Im student from state iniversity of Zanzibar and i forcused more to learn developer skills for front end and backend</p>
<a routerLink="#" class="btn btn-outline-primary">See Profile</a>
</div>
</div>
</div>
<div class="col-md-3">
<div class="card">
<img class="card-img-top" src="../../../assets/images/developer02.png" alt="">
<div class="card-body">
<h4 class="card-title">Aziza Mohd Ali</h4>
<p class="card-text">Im student from state iniversity of Zanzibar and i forcused more to learn developer skills for front end and backend</p>
<a routerLink="#" class="btn btn-outline-primary">See Profile</a>
</div>
</div>
</div>
<div class="col-md-3">
<div class="card">
<img class="card-img-top" src="../../../assets/images/developer3.png" alt="">
<div class="card-body">
<h4 class="card-title">Ismail Jussa</h4>
<p class="card-text">Im student from state iniversity of Zanzibar and i forcused more to learn developer skills for front end and backend</p>
<a routerLink="#" class="btn btn-outline-primary">See Profile</a>
</div>
</div>
</div>
<div class="col-md-3">
<div class="card">
<img class="card-img-top" src="../../../assets/images/developer4.png" alt="">
<div class="card-body">
<h4 class="card-title">Mrs Maryam Ahmad</h4>
<p class="card-text">Im student from state iniversity of Zanzibar and i forcused more to learn developer skills for front end and backend</p>
<a routerLink="#" class="btn btn-outline-primary">See Profile</a>
</div>
</div>
</div>
</div>
</div>


<!-- next footer section -->
<div class="container" style="color:black;">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h4>Important link</h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tamisemi</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ikulu</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Manicipal</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h4>Pages</h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="/home" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a routerLink="/contact" class="nav-link p-0 text-muted">Contact</a></li>
          <li class="nav-item mb-2"><a routerLink="/aboutus" class="nav-link p-0 text-muted">AbouUs</a></li>
          <li class="nav-item mb-2"><a routerLink="/complaint" class="nav-link p-0 text-muted">Complaint</a></li>
          <li class="nav-item mb-2"><a routerLink="/login" class="nav-link p-0 text-muted">Login</a></li>
          <li class="nav-item mb-2"><a routerLink="/register" class="nav-link p-0 text-muted">Register</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h4>Working hours & location</h4>
        <ul class="nav flex-column">
          <p>+255710916827</p>
          <p>+255620287344</p>
          <p>yougdeveloper.suza@gmail.com</p>
          <p>our stress Tunguu</p>
          <p>Zanzibar City</p>

        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h4>Next opportunity to you just send your same text to us</h4>
          <p>type your email down and you get feedback soon as possible</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-info" type="button">Send</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; 2022 Suza, Young Developer. All rights reserved.</p>
      <!-- <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul> -->
    </div>
  </footer>
</div>

