

  <div style="margin-top: 80px; margin-left:150px; width: 100%;">
    <div class="row">

      <div class="col-10 bg-light" style="height: 600px" width="100px" >
        <img src="../../assets/og.png" width="30%" height="200px">

        <br>
        <h4><b>Mission and Vision</b></h4>
        <div class="row">
        <div class="col-md-6">


        <h4>MISSION</h4>
        <p>Our Mission in this mini Market The early 1990s witnessed a trend where every organization (including in the manufacturing sector) wanted to be productive and develop competitive advantage through cast leadership effectively utilizing resources from the support department</p>
        Our mission is “To provide the residents of Portmore with the highest quality of modern and efficient municipal services; working in partnership with the community and all stakeholders to promote a high standard of living, sustainable development and sound environmental management, with equity for all”. Vision statement. Our vision is “To ...

ht
        </div>
        <br>

        <div class="col-md-6">
        <h4>VISSION</h4>
        Mission and Core Values of the St Catherine Municipal Corporation. Vision Statement To manage the orderly development of the parish through proper planning. This will be …
        <p>Our Vission in this mini Market The early 1990s witnessed a trend where every organization (including in the manufacturing sector) wanted to be productive and develop competitive advantage through cast leadership effectively utilizing resources from the support department</p>
        </div>
      </div>
  </div>
  </div>
</div>

