<footer>
<div class="container-fluid padding">
<div class="row text-center">
<!-- contact information -->
<div class="col-md-4">
<img src="../../" alt="">
<hr class="light">
<p>+255710916827</p>
<p>+255620287344</p>
<p>yougdeveloper.suza@gmail.com</p>
<p>our stress Tunguu</p>
<p>Zanzibar City</p>
</div>
<!-- working hours -->
<div class="col-md-4">
<hr class="light">
<h5>Our Working hours</h5>
<hr class="light">
<p>Monday:9am-17am</p>
<p>Frriday:9am-01am</p>
<p>Weekend Off</p>
</div>

<!-- our link -->
<div class="col-md-4">
<p>Important link </p>
<hr class="light">
<ol>

  <li>Tea</li>
  <li>Milk</li>
</ol>


</div><br>

<!-- social media -->
<div class="col-md-4">
<p>visting our social media network
</p>
<a href="https://facebook.com/groups/531635825371829/?ref=share" target="_blank"><i class="ba ba-facebook"></i></a>
            <a href="https://chat.whatsapp.com/IcWKjC06DW2EwnukyHef2J" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/invites/contact/?i=aoj8r0r3qebx&utm_content=3qdcs1u" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://youtube.com/channel/UCS2CbYo4Il7ujHmELEFeJiw" target="_blank"><i class="bi bi-youtube"></i></a>

</div>

<!-- help -->
<div class="col-md-4">

<div class="col-md-4">
  <ul class="items">
      <li class="nav-item">
          <a>Privacy</a>
      </li>
      <li class="nav-item">
          <a>Terms&Condition</a>
      </li>
      <li class="nav-item">
          <a>EmailAddress</a>
      </li>
      <li class="nav-item">
          <a>CustomerCare</a>
      </li>
  </ul>
</div>
</div>

<!-- the other one -->
<div class="col-md-4">
<hr class="light">
<p>Welcome All for better services</p>
<p>Licence is key businees development</p>
<p>Let work together for further development</p>
</div>

</div>

</div>
</footer>
